<header style="">
  <div class="row" style="max-width: 98%;margin: auto;">
    <div class="col-md-6">
      <div><i class="fa fa-globe" style="color: white;"></i>
        <h2 class="text-white" style="display: initial;">&nbsp;{{title}}</h2>
      </div>
    </div>
    <div class="col-md-5 col-lg-6 col-xl-6">
      <div style="text-align: right;color: white;font-size: 1em;line-height: 0;margin-top: 25px;">
        <p>{{email}} &nbsp;<i class="fa fa-envelope-o"></i></p>
        <p>{{number}}&nbsp;<i class="fa fa-phone"></i></p>
      </div>
    </div>
  </div>
</header>
