<div class="carousel slide" data-ride="carousel"
     [id]="'carousel-' + this.iterativeNumber" style="max-width: 500px;">
  <div class="carousel-inner" role="listbox">
    <div *ngFor="let image of images; let first = first; let i = index" [class]="first ? 'carousel-item active' : 'carousel-item'" >
      <img class="w-100 d-block" src="{{image[0]}}" alt="{{image[1]}}">
    </div>
  </div>
  <div>
    <a class="carousel-control-prev" [href]=this.href role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"
       [href]=this.href
       role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <ol class="carousel-indicators">
    <li *ngFor="let image of images; let first = first; let i = index"
        [attr.data-target]=this.href
        [attr.data-slide-to]="i"
        [class]="first ? 'active' : ''"></li>
  </ol>
</div>

