<section>
  <h2 class="display-4 text-primary">About Me</h2>
  <hr>
  <p><img class="imgfloatleft" src="assets/img/me.jpg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed
    pulvinar. Suscipit adipiscing bibendum est ultricies integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices.
    Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu
    feugiat pretium. Etiam tempor orci eu lobortis elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget.
    Amet risus nullam eget felis eget. Ultricies integer quis auctor elit sed vulputate mi.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
    integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras tincidunt
    lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis elementum
    nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies integer quis
    auctor elit sed vulputate mi.</p>
  <article>
    <h3>Education</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
      integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis
      elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies
      integer quis auctor elit sed vulputate mi.</p>
  </article>
  <article>
    <h3>Experience</h3>
    <p><img class="imgfloatleft" src="assets/img/mcafee.png">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh
      sed pulvinar. Suscipit adipiscing bibendum est ultricies integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse
      ultrices. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum
      odio eu feugiat pretium. Etiam tempor orci eu lobortis elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies
      mi eget. Amet risus nullam eget felis eget. Ultricies integer quis auctor elit sed vulputate mi.</p>
  </article>
  <article>
    <h3>Licenses &amp; Certifications<br></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
      integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis
      elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies
      integer quis auctor elit sed vulputate mi.</p>
  </article>
  <article>
    <h3>Interests</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
      integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis
      elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies
      integer quis auctor elit sed vulputate mi.</p>
  </article>
</section>
