<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="float-left d-xl-flex align-items-xl-center">
  <div class="row" style="margin: auto;">
    <app-navsidebar (sendDataToParent)="eventFromChild($event)" class="col-md-2 col-lg-2 col-xl-2" id="nav"></app-navsidebar>
    <div class="col-md-7 col-lg-7 col-xl-8" style="background-color: white;">
      <app-portfolio [style.display]="'PortfolioOfWork'==activeSection ? null : 'none'" ></app-portfolio>
      <app-about [style.display]="'AboutMe'==activeSection ? null : 'none'" ></app-about>
      <app-services [style.display]="'Services'==activeSection ? null : 'none'" ></app-services>
      <app-contact [style.display]="'Contact'==activeSection ? null : 'none'" ></app-contact>
      <app-blog [style.display]="'Blog'==activeSection ? null : 'none'" ></app-blog>
      <app-quote [style.display]="'Quote'==activeSection ? null : 'none'" ></app-quote>
    </div>
    <div class="col-md-3 col-xl-2" style="background-color: white;">
      <app-advert></app-advert>
    </div>
  </div>
</div>
<app-footer></app-footer>
