<section>
  <h2 class="display-4 text-primary">Services</h2>
  <hr>
  <article><img class="imgfloatleft" src="assets/img/webdesign.jpg">
    <h1>Website Design</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
      integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis
      elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies
      integer quis auctor elit sed vulputate mi.</p>
    <div role="tablist" id="accordion-2">
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-2 .item-1" href="#accordion-2 .item-1">Testimonial 1</a></h5>
        </div>
        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-2">
          <div class="card-body">
            <p class="card-text">
              "Just what I was looking for. I would like to personally thank you for your outstanding service. I'm good to go. We've seen amazing results already."
              - Goldy H.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-2" href="#accordion-2 .item-2">Testimonial 2</a></h5>
        </div>
        <div class="collapse item-2" role="tabpanel" data-parent="#accordion-2">
          <div class="card-body">
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab">
          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-3" href="#accordion-2 .item-3">Testimonial 3</a></h5>
        </div>
        <div class="collapse item-3" role="tabpanel" data-parent="#accordion-2">
          <div class="card-body">
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article><img class="imgfloatright" src="assets/img/app.png">
    <h1>App Development</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius vel pharetra. Semper feugiat nibh sed pulvinar. Suscipit adipiscing bibendum est ultricies
      integer quis auctor. Elementum nibh tellus molestie nunc non blandit massa enim. Nam libero justo laoreet sit amet cursus sit. Tristique et egestas quis ipsum suspendisse ultrices. Pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis feugiat. Cum sociis natoque penatibus et magnis dis parturient montes nascetur. Ut placerat orci nulla pellentesque dignissim enim sit amet. Cras fermentum odio eu feugiat pretium. Etiam tempor orci eu lobortis
      elementum nibh tellus. Amet massa vitae tortor condimentum lacinia quis vel eros donec. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Diam maecenas ultricies mi eget. Amet risus nullam eget felis eget. Ultricies
      integer quis auctor elit sed vulputate mi.</p><blockquote class="quote-card">

      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
      </p>

      <cite>quaote attribut</cite>            </blockquote><blockquote class="quote-card">

      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
      </p>

      <cite>quaote attribut</cite>            </blockquote></article>
</section>
