<section>
  <article>
    <div class="col-lg-6" data-aos="fade-down" data-aos-delay="500">
      <h1 id="tittle-c">Get a Quote!</h1>
      <form id="tex-fo">
        <div class="form-group"><input class="form-control" type="text" style="font-family: Barlow, sans-serif;" placeholder="Name"></div>
        <div class="form-group" id="tex-fo"><input class="form-control" type="email" style="font-family: Barlow, sans-serif;" placeholder="Email"></div>
        <div class="form-group" id="tex-fo"><input class="form-control" type="tel" style="font-family: Barlow, sans-serif;" placeholder="Phone Number"></div>
        <div class="form-group" id="tex-fo"><input class="form-control" type="text" style="font-family: Barlow, sans-serif;" placeholder="Budget of the project"></div>
        <div class="form-group" id="tex-fo"><input class="form-control" type="text" style="font-family: Barlow, sans-serif;" placeholder="timeframe"></div>
        <div class="form-group" id="tex-fo"><textarea class="form-control" style="height: 99px;font-family: Barlow, sans-serif;" placeholder="scope/nature of work"></textarea></div>
        <div id="button-c-c"><button class="btn btn-primary float-right" id="button-c" type="button">Submit</button></div>
      </form>
    </div>
  </article>
</section>
